

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    position: relative;
    left: 0;
}

.contentDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 20px;
    transition: 0.5s ease all;
}

.card {
    background: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 20px;
    width: 350px;
    height: 350px;
}

.card:hover {
    background-color: #282c34;
    background: linear-gradient(0deg, #282c34 0%, rgba(17, 0, 32, 0.5) 100%);
    box-shadow: 0 7px 20px 5px #00000088;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

.description{
    font: 1rem 'Roboto', sans-serif;
    text-transform: capitalize;
    color: #9b9b9b;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.description:hover{
    white-space: normal;
    overflow: visible;
    text-overflow: visible;
}
.gitIcon{
    position: absolute;
    left:  20px;
    top: 270px;
    scale : 1.5;
}
.branch{
    position: relative;
    top: 10px;
}
.header {
    font: 2rem 'Roboto', sans-serif;
    text-transform: capitalize;
    padding: 0 0 15px 0;
}

.active{
    background-color: #282c34;
    background: linear-gradient(0deg, #282c34 0%, rgba(17, 0, 32, 0.5) 100%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 20px;
    width: 350px;
    height: 350px;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  .form__field::placeholder {
    color: white;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }

  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }

  .inputDiv{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 20px;
  }
  .inputDivSubmit{
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 0.7rem;
    font: 1rem 'Roboto', sans-serif;
  }
  
  select {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    color: #fff;
    background: transparent;
    transition: border-color 0.2s;
  }
  option{
    color: black;
    font-size: medium;
    background-color: #9b9b9b;
  }
